<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="be.kuleuven.timetoclimb">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeToClimb">
        <activity
            android:name="ViewEvent"
            android:exported="false" />
        <activity
            android:name=".route.RouteListsViewActivity"
            android:exported="false"
            android:label="@string/title_activity_route_view"
            android:theme="@style/Theme.TimeToClimb.NoActionBar" />
        <activity
            android:name=".subActivity.RouteCreateActivity"
            android:exported="false" />
        <activity
            android:name=".SelectClimbingHall"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".subActivity.BioEditActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".subActivity.EditNameActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".subActivity.RoutDetailViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".EventCreator"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ViewDate"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
    </application>

</manifest>